version: "3"

services:
  api:
    image: neqsim-api
    build: api
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - DB_URL=jdbc:postgresql://db:5432/neqsim
      - DB_USERNAME=neqsim
      - DB_PASSWORD=${POSTGRES_PASSWORD}

  web:
    image: neqsim-web
    build: web
    ports:
      - "80:80"

  db:
    image: postgres:10-alpine
    ports:
      - "5432:5432"
    volumes:
      - "./data/postgres:/var/lib/postgresql/data"
    environment:
      - POSTGRES_USER=neqsim
      - POSTGRES_DB=neqsim
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
